<template>
  <div class="main-page-container">
    <div class="logo">Whoeta.com</div>
    <input ref="search" placeholder="Введите поисковый запрос" class="search-input"/>
    <div>
      <button class="search-button" v-on:click="search">Найти</button>
      <button class="search-button" v-on:click="search">Мне повезет</button>
    </div>
    <h1 class="search-hint">Ну это... Привет, че!</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      fullpath : '',
    }
  },
  methods:{
    search: function() {
      let route = this.$router.resolve({path: '/search', query: {q: this.$refs.search.value}});
      window.open(route.href);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.search-input{
  width: 632px;
  height: 44px;
  vertical-align: top;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.search-button{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
}

.search-hint{
  font-size: 20px;
  color: gray;
  margin-top: 30px;
}

.logo{
  font-family: 'Fredoka One', cursive;
  font-size: 72px;
  margin-bottom: 20px;
}


.main-page-container{
  text-align: center;
  margin-top: 30vh;
}
</style>
