<template>
  <div class="search-result-container">
    <div class="search-header">
      <div class="logo">Whoeta.com</div>
      <input ref="search" placeholder="Введите новый поисковый запрос" class="search-input"/>
      <button class="search-button" v-on:click="search">Найти</button>
    </div>
    <div class="search-result" >
      <h2 style="margin-top: 50px;">
        Результаты запроса:
      </h2>
      <div>
      Ваш запрос: {{q}}
      </div>
      <div style="margin-top: 20px;">
      Наш ответ: Ну хууууууй знает!
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResultPage',
  data () {
    return {
      q: this.$route.query.q,
    }
  },
  methods:{
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .search-result{
    clear: both;
  }

  .search-result-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .search-header{
    clear: both;
  }

  .logo{
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    float: left;
    margin-top: 5px;
  }

  .search-input{
    float: left;
    margin-left: 20px;
    width: 400px;
    height: 36px;
    vertical-align: top;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: 10px;
  }

  .search-button{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 11px;
    margin-top: 12px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
  }

</style>
